<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
	<li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/">2021 Y-BASE-AI-SYMPOSIUM</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        <header>
        <div class="container" id="maincontent" tabindex="-1" >
            <div class="row">
                <div class="col-lg-12" > 
                    <div class="intro-text">
                        <h1 class="name">2021 Y-BASE-AI-Symposium</h1>
		<h2 id="title1-everything-you-need-to-know-to-reproduce-upcoming-immersive-metaverse-media-quality-of-experience-qoe-">Title1: Everything You Need to Know to Reproduce Upcoming Immersive METAVERSE Media: Quality of Experience (QoE)</h2>
		
                        <hr class="star-light"> <span class="skills">Time: Tuesday, October 26, Half Day -AM (0800-1100)</span></div>
	         	 <div class="intro-text"><span class="skills">Location: Virtual meating  <a href="" class="btn btn-outline">Zoom Link</a></span></div>
		 <div class="intro-text"><span class="skills">Presentor: Name1, Name2, Alan C. Bobik, and Sanghoon Lee</span></div>
                </div>
            </div>
        </div>
    	</header>
	<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Presenter</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="img/portfolio/1.jpg" class="img-responsive" alt="Cabin"> </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content" > <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="img/portfolio/1.jpg" class="img-responsive"  alt="Cabin">  </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="img/portfolio/3.jpg" class="img-responsive" alt="Circus tent"> </a>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <a href="http://insight.yonsei.ac.kr/gnuboard/" target="_blank"><img src="img/portfolio/4.jpg" class="img-responsive" alt="Game controller"> </a></a>
                </div>
                <!--<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="img/portfolio/5.jpg" class="img-responsive" alt="Safe"> </a>
                </div>
               <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content"> <i class="fa fa-search-plus fa-3x"></i></div>
                        </div> <img src="img/portfolio/6.jpg" class="img-responsive" alt="Submarine"> </a>
                </div>-->
            </div>
        </div>
    </section>
      </main>

      <footer class="footer">
        <small>
            <span class="copyright"><i class="fa fa-copyright"></i> 2015-<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}</span> &middot;
            <span>Powered by <a href="http://jekyllrb.com/">Jekyll</a></span>
        </small>
        <div class="ftr-links">
          <a href="https://github.com/nicoelayda"><i class="fa fa-github-alt"></i></a>
          <a href="https://twitter.com/nicoelayda"><i class="fa fa-twitter"></i></a>
        </div>
      </footer>
    </div>

  </body>
</html>
